{
  "openapi": "3.1.0",
  "info": {
    "title": "Appointments",
    "version": "1.0.0-oas3-oas3.1",
    "contact": {},
    "description": "Sharing appointment data enables practices to explore new revenue opportunities. A great example could be that out of practice hours new and existing patients could have the option to see availabilities and/or book appointments on the business website.\n**Appointments** are used to manage a provider or rooms schedule. Appointments can be booked with patient or non-patient sessions.\n\n**Appointment types** are used to differentiate the duration and different classifications of appointments."
  },
  "servers": [
    {
      "description": "",
      "url": "https://api.medirecords.com"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Appointment Type"
    },
    {
      "name": "Appointments"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Patient Claiming"
    },
    {
      "name": "Medications"
    },
    {
      "name": "Address"
    },
    {
      "name": "Demographics"
    },
    {
      "name": "Interested Parties"
    },
    {
      "name": "Referrals"
    },
    {
      "name": "Relationships"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Inbound"
    },
    {
      "name": "Outbound"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Code System"
    },
    {
      "name": "Practices"
    },
    {
      "name": "Rooms"
    },
    {
      "name": "Regular Sessions"
    },
    {
      "name": "Available Sessions"
    },
    {
      "name": "Holiday Sessions"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Tagging Entity"
    },
    {
      "name": "Providers"
    },
    {
      "name": "Users"
    },
    {
      "name": "usergroup"
    }
  ],
  "paths": {
    "/v1/practices/{practice_id}/appointment-types": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "practice_id",
          "in": "path",
          "required": true,
          "description": "Practice GUID"
        }
      ],
      "get": {
        "summary": "Get all appointment types",
        "tags": [
          "Appointment Type"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AppointmentTypePage",
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "AppointmentType",
                      "type": "object",
                      "x-examples": {
                        "Full Appointment Type Response": {
                          "id": "ea900c5e-fa2e-434e-b766-a42e1cc65ad7",
                          "name": "Custom Consultation",
                          "duration": "6 hrs",
                          "colour": "#a9a9a9",
                          "order": 34,
                          "activeStatus": 1,
                          "community": true,
                          "telehealth": true,
                          "description": "A Custom Consultation for patients",
                          "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                          "createdDateTime": "2019-08-24T14:15:22Z",
                          "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                          "updatedDateTime": "2020-08-24T14:15:22Z"
                        }
                      },
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Appointment Type id. This is a unique identifier for this resource. This is a mandatory field in case of a PUT/UPDATE,GET and DELETE operations.",
                          "format": "uuid",
                          "example": "ea900c5e-fa2e-434e-b766-a42e1cc65ad7"
                        },
                        "name": {
                          "type": "string",
                          "description": "Represents the appointment type name",
                          "maxLength": 500,
                          "example": "Custom Consultation"
                        },
                        "duration": {
                          "type": "string",
                          "description": "Represents the appointment type duration",
                          "example": "4 hrs"
                        },
                        "colour": {
                          "type": "string",
                          "description": "Represents the hex colour code set while creating the appointment type",
                          "maxLength": 20,
                          "example": "#a9a9a9"
                        },
                        "order": {
                          "type": "integer",
                          "description": "Represents the order in which the appointment type needs to be displayed",
                          "example": 34
                        },
                        "activeStatus": {
                          "type": "integer",
                          "description": "Represents the status of the appointment type. If the status of the appt type is 1 then its active . If the status of the of the appt type is 2 , then its inactive .",
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "community": {
                          "description": "Represents if the  appointment type is community or not . If the appt type is community , then ‘true’ is returned.  Else , ‘false’  is returned",
                          "type": "boolean"
                        },
                        "telehealth": {
                          "description": "Represents if the appt type is telehealth or  not . If the appointment type is telehealth , then ‘true ’is returned . Else  'false' is returned.",
                          "type": "boolean"
                        },
                        "description": {
                          "type": "string",
                          "description": "Represents the appointment type description."
                        },
                        "createdBy": {
                          "type": "string",
                          "title": "CreatedBy",
                          "description": "A GUID refers to User identifier who created the resource.",
                          "x-examples": {
                            "example-1": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7"
                          },
                          "default": "UUID",
                          "example": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                          "x-internal": false
                        },
                        "createdDateTime": {
                          "type": "string",
                          "title": "CreatedDate",
                          "description": "Time when the resource was created.",
                          "x-internal": false
                        },
                        "updatedBy": {
                          "type": "string",
                          "title": "UpdatedBy",
                          "description": "A GUID refers to User identifier who updated the resource.",
                          "default": "UUID",
                          "example": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                          "x-internal": false
                        },
                        "updatedDateTime": {
                          "title": "UpdatedDate",
                          "type": "string",
                          "description": "Time when the resource was updated.",
                          "x-internal": false
                        }
                      },
                      "x-internal": false,
                      "x-tags": [
                        "Other"
                      ]
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "numberOfElements": {
                      "type": "integer"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    }
                  },
                  "x-examples": {
                    "Full Paged Appointment Type Response": {
                      "data": {
                        "id": "e79966e8-5ba4-465e-89e3-ffd5f647265c",
                        "name": "Custom Consultation",
                        "duration": "4 hrs",
                        "colour": "#a9a9a9",
                        "order": 34,
                        "activeStatus": 1,
                        "community": true,
                        "telehealth": true,
                        "description": "A Custom Consultation for Patients",
                        "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                        "createdDateTime": "2019-08-24T14:15:22Z",
                        "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                        "updatedDateTime": "2020-08-24T14:15:22Z"
                      },
                      "first": true,
                      "last": true,
                      "totalPages": 1,
                      "totalElements": 1,
                      "numberOfElements": 1,
                      "size": 1,
                      "page": 0
                    }
                  },
                  "x-internal": false,
                  "x-tags": [
                    "Other"
                  ]
                },
                "examples": {
                  "List of Appointment Types With Pagination": {
                    "value": {
                      "data": {
                        "id": "041f8122-d8a9-11e7-894e-133f32cd70ad",
                        "name": "Custom Consultation",
                        "duration": "4 hrs",
                        "colour": "#a9a9a9",
                        "order": 34,
                        "activeStatus": 1,
                        "community": true,
                        "telehealth": true,
                        "description": "A Custom Consultation for patients",
                        "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                        "createdDateTime": "2019-08-24T14:15:22Z",
                        "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                        "updatedDateTime": "2019-09-20T13:05:12Z"
                      },
                      "first": true,
                      "last": true,
                      "totalPages": 1,
                      "totalElements": 1,
                      "numberOfElements": 1,
                      "size": 1,
                      "page": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Bad Request Invalid practice id Error Response": {
                    "value": {
                      "message": "findAllByPractice.id: Invalid GUID",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "findAllByPractice.id",
                          "value": "xxx",
                          "message": "Invalid GUID"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Unauthorization Error Response": {
                    "value": {
                      "error": "invalid_token",
                      "errorDescription": "Invalid access token: AFzAWah-SfDhVZKaZxlZneBJn9k"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Forbidden Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "example": {
                      "message": "Access is denied",
                      "type": "unknown_error_type",
                      "code": "unknown_error_type"
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Access Denied": {
                    "value": {
                      "message": "Access is denied",
                      "type": "unknown_error_type",
                      "code": "unknown_error_type"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Internal Server Error Response": {
                    "value": {
                      "message": "Oops! Appears that an error has occured. Please try again.",
                      "type": "unknown_error_type",
                      "code": "unknown_error_code"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-practice-id-appointment-types",
        "description": "Get all appointment types for a given practice id",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "The OAuth 2.0 bearer tokens.\n```json\nBearer db3efb4e-82bb-4bbb-997b-b5a3c39ce7e2\n```\n",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false,
            "description": "The page to be returned."
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "required": false,
            "description": "The number of items to be returned."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "activeStatus",
            "description": "Represents the status of the appointment type. If the status of the appt type is 1 then its active . If the status of the of the appt type is 2 , then its inactive ."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "community",
            "description": "Represents if the  appointment type is community or not . If the appt type is community , then ‘true’ is returned.  Else , ‘false’  is returned"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "telehealth",
            "description": "Represents if the appt type is telehealth or  not . If the appointment type is telehealth , then ‘true ’is returned . Else  'false' is returned."
          }
        ]
      }
    },
    "/v1/practices/{practice_id}/appointment-types/{appointment_type_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "practice_id",
          "in": "path",
          "required": true,
          "description": "Practice GUID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "appointment_type_id",
          "in": "path",
          "required": true,
          "description": "Appointment Type GUID"
        }
      ],
      "get": {
        "summary": "Get appointment type by id",
        "tags": [
          "Appointment Type"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AppointmentType",
                  "type": "object",
                  "x-examples": {
                    "Full Appointment Type Response": {
                      "id": "ea900c5e-fa2e-434e-b766-a42e1cc65ad7",
                      "name": "Custom Consultation",
                      "duration": "6 hrs",
                      "colour": "#a9a9a9",
                      "order": 34,
                      "activeStatus": 1,
                      "community": true,
                      "telehealth": true,
                      "description": "A Custom Consultation for patients",
                      "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "createdDateTime": "2019-08-24T14:15:22Z",
                      "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "updatedDateTime": "2020-08-24T14:15:22Z"
                    }
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Appointment Type id. This is a unique identifier for this resource. This is a mandatory field in case of a PUT/UPDATE,GET and DELETE operations.",
                      "format": "uuid",
                      "example": "ea900c5e-fa2e-434e-b766-a42e1cc65ad7"
                    },
                    "name": {
                      "type": "string",
                      "description": "Represents the appointment type name",
                      "maxLength": 500,
                      "example": "Custom Consultation"
                    },
                    "duration": {
                      "type": "string",
                      "description": "Represents the appointment type duration",
                      "example": "4 hrs"
                    },
                    "colour": {
                      "type": "string",
                      "description": "Represents the hex colour code set while creating the appointment type",
                      "maxLength": 20,
                      "example": "#a9a9a9"
                    },
                    "order": {
                      "type": "integer",
                      "description": "Represents the order in which the appointment type needs to be displayed",
                      "example": 34
                    },
                    "activeStatus": {
                      "type": "integer",
                      "description": "Represents the status of the appointment type. If the status of the appt type is 1 then its active . If the status of the of the appt type is 2 , then its inactive .",
                      "enum": [
                        1,
                        2
                      ],
                      "example": 1
                    },
                    "community": {
                      "description": "Represents if the  appointment type is community or not . If the appt type is community , then ‘true’ is returned.  Else , ‘false’  is returned",
                      "type": "boolean"
                    },
                    "telehealth": {
                      "description": "Represents if the appt type is telehealth or  not . If the appointment type is telehealth , then ‘true ’is returned . Else  'false' is returned.",
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string",
                      "description": "Represents the appointment type description."
                    },
                    "createdBy": {
                      "type": "string",
                      "title": "CreatedBy",
                      "description": "A GUID refers to User identifier who created the resource.",
                      "x-examples": {
                        "example-1": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7"
                      },
                      "default": "UUID",
                      "example": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "x-internal": false
                    },
                    "createdDateTime": {
                      "type": "string",
                      "title": "CreatedDate",
                      "description": "Time when the resource was created.",
                      "x-internal": false
                    },
                    "updatedBy": {
                      "type": "string",
                      "title": "UpdatedBy",
                      "description": "A GUID refers to User identifier who updated the resource.",
                      "default": "UUID",
                      "example": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "x-internal": false
                    },
                    "updatedDateTime": {
                      "title": "UpdatedDate",
                      "type": "string",
                      "description": "Time when the resource was updated.",
                      "x-internal": false
                    }
                  },
                  "x-internal": false,
                  "x-tags": [
                    "Other"
                  ]
                },
                "examples": {
                  "Appointment Type Get Response": {
                    "value": {
                      "id": "ea900c5e-fa2e-434e-b766-a42e1cc65ad7",
                      "name": "Custom Consultation",
                      "duration": "6 hrs",
                      "colour": "#a9a9a9",
                      "order": 34,
                      "activeStatus": 1,
                      "community": true,
                      "telehealth": true,
                      "description": "A Custom Consultation for patients",
                      "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "createdDateTime": "2019-08-24T14:15:22Z",
                      "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "updatedDateTime": "2020-08-24T14:15:22Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Bad Request Error Response": {
                    "value": {
                      "message": "findById.appointmentTypeId: Invalid GUID",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "findById.appointmentTypeId",
                          "value": "1234567",
                          "message": "Invalid GUID"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Unauthorized Error Response": {
                    "value": {
                      "error": "invalid_token",
                      "errorDescription": "Invalid access token: AFzAWah-SfDhVZKaZxlZneBJn9k"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ForbiddenErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Forbidden Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "example": {
                      "message": "Access is denied",
                      "type": "unknown_error_type",
                      "code": "unknown_error_type"
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Access Denied": {
                    "value": {
                      "message": "Access is denied",
                      "type": "unknown_error_type",
                      "code": "unknown_error_type"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Internal Server Error Response": {
                    "value": {
                      "message": "Oops! Appears that an error has occured. Please try again.",
                      "type": "unknown_error_type",
                      "code": "unknown_error_code"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-practices-practice_id-appointment-types-appointment_type_id",
        "description": "Get appointment type by practice id and appointment type id",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "The OAuth 2.0 bearer tokens.\n```json\nBearer db3efb4e-82bb-4bbb-997b-b5a3c39ce7e2\n```\n",
            "required": true
          }
        ]
      }
    },
    "/v1/practices/{practice_id}/appointments": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "practice_id",
          "in": "path",
          "required": true,
          "description": "practice GUID"
        }
      ],
      "post": {
        "summary": "Create appointment",
        "operationId": "post-api-practices-practice_id-appointments",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AppointmentObject",
                  "type": "object",
                  "description": "",
                  "x-examples": {
                    "Full Appointment Response": {
                      "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                      "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                      "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                      "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                      "scheduleTime": "2019-02-13T05:10",
                      "appointmentStatus": 2,
                      "appointmentIntervalCode": 6,
                      "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                      "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                      "notes": "Patient injured knee",
                      "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                      "walkIn": true,
                      "firstAvailableDoctor": true,
                      "urgency": 1,
                      "cancellationReason": 1,
                      "emailReminder": true,
                      "reminderMethod": 1,
                      "reminderType": 7,
                      "confirmationLink": "https://medirecords.page.link/JLTg",
                      "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                      "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                      "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "createdDateTime": "2019-02-13 05:10:09.088",
                      "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "updatedDateTime": "2019-02-14 05:10:09.088"
                    }
                  },
                  "x-internal": false,
                  "x-tags": [
                    "Other"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                      "description": "Appointment id.This is a unique identifier for this resource. This is a mandatory field in case of a PUT/UPDATE,GET and DELETE operations."
                    },
                    "practiceId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A GUID that represents the  practice id , the user wants the appointment to be booked in.",
                      "example": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43"
                    },
                    "patientId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A GUID that represents the patient id , the  user wants to book the appointment for",
                      "example": "2643ada4-a175-11ea-9c20-47ffa6607fbc"
                    },
                    "appointmentTypeId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A GUID that represents the appointment type Id",
                      "example": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1"
                    },
                    "scheduleTime": {
                      "type": "string",
                      "description": "Represents the date and time when the appointment is scheduled for in the format YYYY-MM-DDTHH:mm.",
                      "example": "2019-02-13T05:10"
                    },
                    "appointmentStatus": {
                      "type": "number",
                      "description": "Represents the status of the appointment.\n\n* `2` - Booked\n* `3` - Confirmed\n* `4` - Waiting Room\n* `5` - With Doctor\n* `6` - At Billing\n* `7` - Completed\n* `8` - Cancelled",
                      "example": 2,
                      "minimum": 2,
                      "maximum": 8,
                      "exclusiveMinimum": false
                    },
                    "appointmentIntervalCode": {
                      "type": "number",
                      "description": "Represents the duration of the appointment. Call the below endpoint to get the user appointmentIntervalCode lookup /code-system/appointment-Interval-Code",
                      "example": 6
                    },
                    "roomId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                      "description": "A GUID that represents the roomId, the user wants to book for the appointment",
                      "nullable": true
                    },
                    "referralId": {
                      "type": "string",
                      "example": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                      "description": "A GUID that represents the referralId ",
                      "nullable": true
                    },
                    "notes": {
                      "type": "string",
                      "example": "Patient injured knee",
                      "maxLength": 500,
                      "description": "Represents appointment notes. Any specific information related to the appointment can be keyed in here",
                      "nullable": true
                    },
                    "providerId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                      "description": "A GUID that represents the provider Id , the user wants to book the appointment against",
                      "nullable": true
                    },
                    "walkIn": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "firstAvailableDoctor": {
                      "type": "boolean",
                      "description": "This flag is set to true , if the walk in appointment is referred to the firstAvailableDoctor. In this case, the providerId is not requred.",
                      "nullable": true
                    },
                    "urgency": {
                      "type": "number",
                      "example": 1,
                      "description": "Represents the nature of the appointment . If the appointment is a normal appointment or urgent appointment. By default , the value is set as 1- Normal.\n\n| code | type description |\n| :---: | :------- |\n| 1 | Normal |\n| 2 | Urgent |\n",
                      "nullable": true
                    },
                    "cancellationReason": {
                      "type": "number",
                      "description": "Represents the appointment cancellation reason . This is can be set only when the appointment status is 8 (cancelled) . Cancellation reason becomes mandatory when the appointment status is cancelled.\n\n| code | type description |\n| :---: | :------- |\n| 1 | Incorrect time |\n| 2 | Incorrect patient |\n| 3 | Incorrect provider |\n| 4 | Patient feeling better |\n| 5 | No show |\n| 6 | In WR too long  |\n| 7 | Other reason |\n| 8 | Conference |\n| 9 | Patient cancelled |\n",
                      "example": 1,
                      "nullable": true
                    },
                    "emailReminder": {
                      "type": "boolean",
                      "description": "Indicates if instant email reminder needs to sent. If the flag is set to true , then instant email reminders are sent"
                    },
                    "reminderMethod": {
                      "type": "number",
                      "description": "Represents the method of sending appointment reminders.\n\n* `1` - Booked",
                      "example": 1,
                      "nullable": true
                    },
                    "reminderType": {
                      "type": "number",
                      "example": 7,
                      "description": "Represents the types of reminder that can be set.\n\n* `0` - SMS Instant\n* `1` - 1 Day Before\n* `2` - 2 Days Before\n* `3` - 3 Days Before\n* `4` - 4 Days Before\n* `5` - 5 Days Before\n* `6` - 6 Days Before\n* `7` - 7 Days Before\n* `8` - 8 Days Before",
                      "nullable": true
                    },
                    "confirmationLink": {
                      "type": "string",
                      "description": "Represents the appointment confirmation link ",
                      "example": "https://medirecords.page.link/JLTg",
                      "nullable": true
                    },
                    "telehealthLinkForProvider": {
                      "type": "string",
                      "description": "Represents the coviu link for provider , in case of telehealth appointments",
                      "example": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060"
                    },
                    "telehealthLinkForPatient": {
                      "type": "string",
                      "description": "Represents the coviu link for patient , in case of telehealth appointments",
                      "example": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                      "nullable": true
                    },
                    "createdBy": {
                      "type": "string",
                      "title": "CreatedBy",
                      "description": "A GUID refers to User identifier who created the resource.",
                      "x-examples": {
                        "example-1": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7"
                      },
                      "default": "UUID",
                      "example": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "x-internal": false
                    },
                    "createdDateTime": {
                      "type": "string",
                      "title": "CreatedDate",
                      "description": "Time when the resource was created.",
                      "x-internal": false
                    },
                    "updatedBy": {
                      "type": "string",
                      "title": "UpdatedBy",
                      "description": "A GUID refers to User identifier who updated the resource.",
                      "default": "UUID",
                      "example": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "x-internal": false
                    },
                    "updatedDateTime": {
                      "title": "UpdatedDate",
                      "type": "string",
                      "description": "Time when the resource was updated.",
                      "x-internal": false
                    }
                  },
                  "required": [
                    "id",
                    "practiceId",
                    "patientId",
                    "appointmentTypeId",
                    "scheduleTime",
                    "appointmentStatus",
                    "appointmentIntervalCode"
                  ]
                },
                "examples": {
                  "Response": {
                    "value": {
                      "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                      "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                      "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                      "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                      "scheduleTime": "2019-02-13T05:10",
                      "appointmentStatus": 2,
                      "appointmentIntervalCode": 6,
                      "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                      "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                      "notes": "An appointment already exists for the patient with the same provider today. Patient injured knee",
                      "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                      "walkIn": true,
                      "firstAvailableDoctor": true,
                      "urgency": 1,
                      "cancellationReason": 1,
                      "emailReminder": true,
                      "reminderMethod": 1,
                      "reminderType": 7,
                      "confirmationLink": "https://medirecords.page.link/JLTg",
                      "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                      "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                      "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "createdDateTime": "2020-12-15T07:43:52.529+0000",
                      "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "updatedDateTime": "2020-12-15T07:43:52.529+0000"
                    }
                  },
                  "Response with Mandatory Fields": {
                    "value": {
                      "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                      "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                      "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                      "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                      "scheduleTime": "2019-02-13T05:10",
                      "appointmentStatus": 2,
                      "appointmentIntervalCode": 6,
                      "roomId": null,
                      "referralId": null,
                      "notes": null,
                      "providerId": null,
                      "walkIn": false,
                      "firstAvailableDoctor": false,
                      "urgency": 0,
                      "cancellationReason": null,
                      "emailReminder": false,
                      "reminderMethod": 1,
                      "reminderType": 7,
                      "confirmationLink": "https://medirecords.page.link/JLTg",
                      "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                      "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                      "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                      "createdDateTime": "2021-01-15T12:17:59.137+0000",
                      "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                      "updatedDateTime": "2021-01-15T12:17:59.137+0000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Bad Request Validation Error Response": {
                    "value": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "reminderType",
                          "value": "99",
                          "message": "Must be a valid value"
                        },
                        {
                          "parameter": "appointmentIntervalCode",
                          "value": "66",
                          "message": "Must be a valid value"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Unauthorization Error Response": {
                    "value": {
                      "error": "invalid_token",
                      "errorDescription": "Invalid access token: AFzAWah-SfDhVZKaZxlZneBJn9k"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Access Denied": {
                    "value": {
                      "message": "Access is denied",
                      "type": "unknown_error_type",
                      "code": "unknown_error_type"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Internal Server Error Response": {
                    "value": {
                      "message": "Oops! Appears that an error has occured. Please try again.",
                      "type": "unknown_error_type",
                      "code": "unknown_error_code"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Appointments"
        ],
        "description": "Create an appointment for a practice id",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "The OAuth 2.0 bearer tokens.\n```json\nBearer db3efb4e-82bb-4bbb-997b-b5a3c39ce7e2\n```\n",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AppointmentObjectCreate",
                "type": "object",
                "description": "",
                "x-examples": {
                  "Full Appointment Response": {
                    "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                    "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                    "scheduleTime": "2019-02-13 05:10:09.088",
                    "appointmentStatus": 2,
                    "appointmentIntervalCode": 6,
                    "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                    "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                    "notes": "Patient injured knee",
                    "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                    "walkIn": true,
                    "firstAvailableDoctor": true,
                    "allowDoubleBookingForPatient": true,
                    "allowDoubleBookingForProvider": false,
                    "urgency": 1,
                    "cancellationReason": 1,
                    "emailReminder": true,
                    "reminderMethod": 1,
                    "reminderType": 7
                  }
                },
                "x-internal": false,
                "x-tags": [
                  "Other"
                ],
                "properties": {
                  "patientId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "A GUID that represents the patient id , the  user wants to book the appointment for",
                    "example": "2643ada4-a175-11ea-9c20-47ffa6607fbc"
                  },
                  "appointmentTypeId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "A GUID that represents the appointment type Id",
                    "example": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1"
                  },
                  "scheduleTime": {
                    "type": "string",
                    "description": "Represents the date and time when the appointment is scheduled for in the format YYYY-MM-DDTHH:mm.",
                    "example": "2019-02-13 05:10:09.088"
                  },
                  "appointmentStatus": {
                    "type": "number",
                    "description": "Represents the status of the appointment.\n\n* `2` - Booked\n* `3` - Confirmed\n* `4` - Waiting Room\n* `5` - With Doctor\n* `6` - At Billing\n* `7` - Completed\n* `8` - Cancelled",
                    "example": 2,
                    "minimum": 2,
                    "maximum": 8,
                    "exclusiveMinimum": false
                  },
                  "appointmentIntervalCode": {
                    "type": "number",
                    "description": "Represents the duration of the appointment. Call the below endpoint to get the user appointmentIntervalCode lookup /code-system/appointment-Interval-Code",
                    "example": 6
                  },
                  "roomId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                    "description": "A GUID that represents the roomId, the user wants to book for the appointment",
                    "nullable": true
                  },
                  "referralId": {
                    "type": "string",
                    "example": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                    "description": "A GUID that represents the referralId ",
                    "nullable": true
                  },
                  "notes": {
                    "type": "string",
                    "example": "Patient injured knee",
                    "maxLength": 500,
                    "description": "Represents appointment notes. Any specific information related to the appointment can be keyed in here",
                    "nullable": true
                  },
                  "providerId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                    "description": "A GUID that represents the provider Id , the user wants to book the appointment against",
                    "nullable": true
                  },
                  "walkIn": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "firstAvailableDoctor": {
                    "type": "boolean",
                    "description": "This flag is set to true , if the walk in appointment is referred to the firstAvailableDoctor. In this case, the providerId is not requred.",
                    "nullable": true
                  },
                  "allowDoubleBookingForPatient": {
                    "description": "This flag indicates if multiple appointments can to be booked for the patient with the same provider on the same day. By default the flag is set to false. If the flag is set to true and if there is any double booking made for the patient, the same is indicated to the user via notes field in the response payload.",
                    "type": "boolean",
                    "nullable": true
                  },
                  "allowDoubleBookingForProvider": {
                    "description": "This flag indicates if the provider can be double booked with different patient at the same time. By default the flag is set to false. If the flag is set to true and if there is any double booking made for the provider, the same is indicated to the user via notes field in the response payload.",
                    "type": "boolean",
                    "nullable": true
                  },
                  "urgency": {
                    "type": "number",
                    "example": 1,
                    "description": "Represents the nature of the appointment . If the appointment is a normal appointment or urgent appointment. By default , the value is set as 1- Normal.\n\n| code | type description |\n| :---: | :------- |\n| 1 | Normal |\n| 2 | Urgent |\n",
                    "nullable": true
                  },
                  "cancellationReason": {
                    "type": "number",
                    "description": "Represents the appointment cancellation reason . This is can be set only when the appointment status is 8 (cancelled) . Cancellation reason becomes mandatory when the appointment status is cancelled.\n\n| code | type description |\n| :---: | :------- |\n| 1 | Incorrect time |\n| 2 | Incorrect patient |\n| 3 | Incorrect provider |\n| 4 | Patient feeling better |\n| 5 | No show |\n| 6 | In WR too long  |\n| 7 | Other reason |\n| 8 | Conference |\n| 9 | Patient cancelled |\n",
                    "example": 1,
                    "nullable": true
                  },
                  "emailReminder": {
                    "type": "boolean",
                    "description": "Indicates if instant email reminder needs to sent. If the flag is set to true , then instant email reminders are sent",
                    "nullable": true
                  },
                  "reminderMethod": {
                    "type": "number",
                    "description": "Represents the method of sending appointment reminders.\n\n* `1` - Booked",
                    "example": 1,
                    "nullable": true
                  },
                  "reminderType": {
                    "type": "number",
                    "example": 7,
                    "description": "Represents the types of reminder that can be set.\n\n* `0` - SMS Instant\n* `1` - 1 Day Before\n* `2` - 2 Days Before\n* `3` - 3 Days Before\n* `4` - 4 Days Before\n* `5` - 5 Days Before\n* `6` - 6 Days Before\n* `7` - 7 Days Before\n* `8` - 8 Days Before",
                    "nullable": true
                  }
                },
                "required": [
                  "patientId",
                  "appointmentTypeId",
                  "scheduleTime",
                  "appointmentStatus",
                  "appointmentIntervalCode"
                ]
              },
              "examples": {
                "Request": {
                  "value": {
                    "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                    "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                    "scheduleTime": "2019-02-13T05:10",
                    "appointmentStatus": 2,
                    "appointmentIntervalCode": 6,
                    "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                    "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                    "notes": "Patient injured knee",
                    "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                    "walkIn": true,
                    "firstAvailableDoctor": true,
                    "allowDoubleBookingForPatient": true,
                    "allowDoubleBookingForProvider": false,
                    "urgency": 1,
                    "cancellationReason": 1,
                    "emailReminder": true,
                    "reminderMethod": 1,
                    "reminderType": 7
                  }
                },
                "Request with Mandatory Fields": {
                  "value": {
                    "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                    "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                    "scheduleTime": "2019-02-13T05:10",
                    "appointmentStatus": 2,
                    "appointmentIntervalCode": 6,
                    "roomId": null,
                    "referralId": null,
                    "notes": null,
                    "providerId": null,
                    "walkIn": null,
                    "firstAvailableDoctor": null,
                    "allowDoubleBookingForPatient": null,
                    "allowDoubleBookingForProvider": null,
                    "urgency": null,
                    "cancellationReason": null,
                    "emailReminder": null,
                    "reminderMethod": null,
                    "reminderType": null
                  }
                },
                "Bad Request": {
                  "value": {
                    "practiceId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                    "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                    "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                    "scheduleTime": "2019-02-13T05:10",
                    "appointmentStatus": 2,
                    "appointmentIntervalCode": 66,
                    "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                    "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                    "notes": "Patient injured knee",
                    "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                    "walkIn": null,
                    "firstAvailableDoctor": null,
                    "allowDoubleBookingForPatient": null,
                    "allowDoubleBookingForProvider": null,
                    "urgency": 1,
                    "cancellationReason": 1,
                    "emailReminder": null,
                    "reminderMethod": 1,
                    "reminderType": 99
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all appointments",
        "operationId": "get-api-practices-practice_id-appointments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AppointmentObjectPage",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "AppointmentObject",
                        "type": "object",
                        "description": "",
                        "x-examples": {
                          "Full Appointment Response": {
                            "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                            "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                            "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                            "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                            "scheduleTime": "2019-02-13T05:10",
                            "appointmentStatus": 2,
                            "appointmentIntervalCode": 6,
                            "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                            "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                            "notes": "Patient injured knee",
                            "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                            "walkIn": true,
                            "firstAvailableDoctor": true,
                            "urgency": 1,
                            "cancellationReason": 1,
                            "emailReminder": true,
                            "reminderMethod": 1,
                            "reminderType": 7,
                            "confirmationLink": "https://medirecords.page.link/JLTg",
                            "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                            "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                            "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                            "createdDateTime": "2019-02-13 05:10:09.088",
                            "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                            "updatedDateTime": "2019-02-14 05:10:09.088"
                          }
                        },
                        "x-internal": false,
                        "x-tags": [
                          "Other"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                            "description": "Appointment id.This is a unique identifier for this resource. This is a mandatory field in case of a PUT/UPDATE,GET and DELETE operations."
                          },
                          "practiceId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "A GUID that represents the  practice id , the user wants the appointment to be booked in.",
                            "example": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43"
                          },
                          "patientId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "A GUID that represents the patient id , the  user wants to book the appointment for",
                            "example": "2643ada4-a175-11ea-9c20-47ffa6607fbc"
                          },
                          "appointmentTypeId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "A GUID that represents the appointment type Id",
                            "example": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1"
                          },
                          "scheduleTime": {
                            "type": "string",
                            "description": "Represents the date and time when the appointment is scheduled for in the format YYYY-MM-DDTHH:mm.",
                            "example": "2019-02-13T05:10"
                          },
                          "appointmentStatus": {
                            "type": "number",
                            "description": "Represents the status of the appointment.\n\n* `2` - Booked\n* `3` - Confirmed\n* `4` - Waiting Room\n* `5` - With Doctor\n* `6` - At Billing\n* `7` - Completed\n* `8` - Cancelled",
                            "example": 2,
                            "minimum": 2,
                            "maximum": 8,
                            "exclusiveMinimum": false
                          },
                          "appointmentIntervalCode": {
                            "type": "number",
                            "description": "Represents the duration of the appointment. Call the below endpoint to get the user appointmentIntervalCode lookup /code-system/appointment-Interval-Code",
                            "example": 6
                          },
                          "roomId": {
                            "type": "string",
                            "format": "uuid",
                            "example": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                            "description": "A GUID that represents the roomId, the user wants to book for the appointment",
                            "nullable": true
                          },
                          "referralId": {
                            "type": "string",
                            "example": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                            "description": "A GUID that represents the referralId ",
                            "nullable": true
                          },
                          "notes": {
                            "type": "string",
                            "example": "Patient injured knee",
                            "maxLength": 500,
                            "description": "Represents appointment notes. Any specific information related to the appointment can be keyed in here",
                            "nullable": true
                          },
                          "providerId": {
                            "type": "string",
                            "format": "uuid",
                            "example": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                            "description": "A GUID that represents the provider Id , the user wants to book the appointment against",
                            "nullable": true
                          },
                          "walkIn": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "firstAvailableDoctor": {
                            "type": "boolean",
                            "description": "This flag is set to true , if the walk in appointment is referred to the firstAvailableDoctor. In this case, the providerId is not requred.",
                            "nullable": true
                          },
                          "urgency": {
                            "type": "number",
                            "example": 1,
                            "description": "Represents the nature of the appointment . If the appointment is a normal appointment or urgent appointment. By default , the value is set as 1- Normal.\n\n| code | type description |\n| :---: | :------- |\n| 1 | Normal |\n| 2 | Urgent |\n",
                            "nullable": true
                          },
                          "cancellationReason": {
                            "type": "number",
                            "description": "Represents the appointment cancellation reason . This is can be set only when the appointment status is 8 (cancelled) . Cancellation reason becomes mandatory when the appointment status is cancelled.\n\n| code | type description |\n| :---: | :------- |\n| 1 | Incorrect time |\n| 2 | Incorrect patient |\n| 3 | Incorrect provider |\n| 4 | Patient feeling better |\n| 5 | No show |\n| 6 | In WR too long  |\n| 7 | Other reason |\n| 8 | Conference |\n| 9 | Patient cancelled |\n",
                            "example": 1,
                            "nullable": true
                          },
                          "emailReminder": {
                            "type": "boolean",
                            "description": "Indicates if instant email reminder needs to sent. If the flag is set to true , then instant email reminders are sent"
                          },
                          "reminderMethod": {
                            "type": "number",
                            "description": "Represents the method of sending appointment reminders.\n\n* `1` - Booked",
                            "example": 1,
                            "nullable": true
                          },
                          "reminderType": {
                            "type": "number",
                            "example": 7,
                            "description": "Represents the types of reminder that can be set.\n\n* `0` - SMS Instant\n* `1` - 1 Day Before\n* `2` - 2 Days Before\n* `3` - 3 Days Before\n* `4` - 4 Days Before\n* `5` - 5 Days Before\n* `6` - 6 Days Before\n* `7` - 7 Days Before\n* `8` - 8 Days Before",
                            "nullable": true
                          },
                          "confirmationLink": {
                            "type": "string",
                            "description": "Represents the appointment confirmation link ",
                            "example": "https://medirecords.page.link/JLTg",
                            "nullable": true
                          },
                          "telehealthLinkForProvider": {
                            "type": "string",
                            "description": "Represents the coviu link for provider , in case of telehealth appointments",
                            "example": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060"
                          },
                          "telehealthLinkForPatient": {
                            "type": "string",
                            "description": "Represents the coviu link for patient , in case of telehealth appointments",
                            "example": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                            "nullable": true
                          },
                          "createdBy": {
                            "type": "string",
                            "title": "CreatedBy",
                            "description": "A GUID refers to User identifier who created the resource.",
                            "x-examples": {
                              "example-1": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7"
                            },
                            "default": "UUID",
                            "example": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                            "x-internal": false
                          },
                          "createdDateTime": {
                            "type": "string",
                            "title": "CreatedDate",
                            "description": "Time when the resource was created.",
                            "x-internal": false
                          },
                          "updatedBy": {
                            "type": "string",
                            "title": "UpdatedBy",
                            "description": "A GUID refers to User identifier who updated the resource.",
                            "default": "UUID",
                            "example": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                            "x-internal": false
                          },
                          "updatedDateTime": {
                            "title": "UpdatedDate",
                            "type": "string",
                            "description": "Time when the resource was updated.",
                            "x-internal": false
                          }
                        },
                        "required": [
                          "id",
                          "practiceId",
                          "patientId",
                          "appointmentTypeId",
                          "scheduleTime",
                          "appointmentStatus",
                          "appointmentIntervalCode"
                        ]
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "totalPages": {
                      "type": "number"
                    },
                    "totalElements": {
                      "type": "number"
                    },
                    "numberOfElements": {
                      "type": "number"
                    },
                    "size": {
                      "type": "number"
                    },
                    "page": {
                      "type": "number"
                    }
                  },
                  "x-examples": {
                    "Full Practice Paged Response": {
                      "data": [
                        {
                          "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                          "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                          "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                          "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                          "scheduleTime": "2019-02-13 05:10:09.088",
                          "appointmentStatus": 2,
                          "appointmentIntervalCode": 6,
                          "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                          "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                          "notes": "Patient injured knee",
                          "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                          "walkIn": true,
                          "firstAvailableDoctor": true,
                          "urgency": 1,
                          "cancellationReason": 1,
                          "emailReminder": true,
                          "reminderMethod": 1,
                          "reminderType": 7,
                          "confirmationLink": "https://medirecords.page.link/JLTg",
                          "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                          "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                          "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                          "createdDateTime": "2019-02-13 05:10:09.088",
                          "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                          "updatedDateTime": "2019-02-14 05:10:09.088"
                        },
                        {
                          "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                          "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                          "patientId": "6d5bab6a-85ff-11ea-8f14-4b1d1a625a1f",
                          "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                          "scheduleTime": "6d5bab6a-85ff-11ea-8f14-4b1d1a625a1f",
                          "appointmentStatus": 2,
                          "appointmentIntervalCode": 7,
                          "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                          "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                          "notes": "Patient injured hip",
                          "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                          "walkIn": true,
                          "firstAvailableDoctor": true,
                          "urgency": 1,
                          "cancellationReason": 1,
                          "emailReminder": true,
                          "reminderMethod": 1,
                          "reminderType": 7,
                          "confirmationLink": "https://medirecords.page.link/JLTg",
                          "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                          "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                          "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                          "createdDateTime": "2019-02-13 05:10:09.088",
                          "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                          "updatedDateTime": "2019-02-13 05:10:09.088"
                        }
                      ],
                      "first": true,
                      "last": true,
                      "totalPages": 1,
                      "totalElements": 2,
                      "numberOfElements": 2,
                      "size": 2,
                      "page": 0
                    }
                  },
                  "x-internal": false,
                  "x-tags": [
                    "Other"
                  ]
                },
                "examples": {
                  "Appointments with appointmentStatus equal to \"2\" and given specific providerId": {
                    "value": {
                      "data": [
                        {
                          "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                          "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                          "patientId": "2643ada4-a175-11ea-9c20-47ffa6607fbc",
                          "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                          "scheduleTime": "2019-02-13T05:10",
                          "appointmentStatus": 2,
                          "appointmentIntervalCode": 6,
                          "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                          "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                          "notes": "Patient injured knee",
                          "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                          "walkIn": true,
                          "firstAvailableDoctor": true,
                          "urgency": 1,
                          "cancellationReason": 1,
                          "emailReminder": true,
                          "reminderMethod": 1,
                          "reminderType": 7,
                          "confirmationLink": "https://medirecords.page.link/JLTg",
                          "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                          "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                          "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                          "createdDateTime": "2019-02-13 05:10:09.088",
                          "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                          "updatedDateTime": "2019-02-14 05:10:09.088"
                        },
                        {
                          "id": "bdaa710e-bc1a-11ea-bf9f-ef9c3dc58a1e",
                          "practiceId": "dd18c5fc-85be-11e8-b3b8-673b2f45aa43",
                          "patientId": "6d5bab6a-85ff-11ea-8f14-4b1d1a625a1f",
                          "appointmentTypeId": "1e4518a0-85bf-11e8-b3dc-f3ec468955e1",
                          "scheduleTime": "6d5bab6a-85ff-11ea-8f14-4b1d1a625a1f",
                          "appointmentStatus": 2,
                          "appointmentIntervalCode": 7,
                          "roomId": "d6e560e1-43ee-4bac-b5af-ee62ccfb7258",
                          "referralId": "2f1eb08a-4f18-11eb-b39a-5765279ef281",
                          "notes": "Patient injured hip",
                          "providerId": "e19bd9ae-fe9c-11e9-8cda-73bb33bb60fe",
                          "walkIn": true,
                          "firstAvailableDoctor": true,
                          "urgency": 1,
                          "cancellationReason": 1,
                          "emailReminder": true,
                          "reminderMethod": 1,
                          "reminderType": 7,
                          "confirmationLink": "https://medirecords.page.link/JLTg",
                          "telehealthLinkForProvider": "https://coviu.com/session/fe316718-5d71-430a-acdf-8d52f0b4a060",
                          "telehealthLinkForPatient": "https://coviu.com/session/b500f007-6fba-4ed5-aaaa-6224f4c00ae3",
                          "createdBy": "2e6f9df4-23ba-11eb-ba03-c77fdfbcd9a7",
                          "createdDateTime": "2019-02-13 05:10:09.088",
                          "updatedBy": "037dbf27-f7a0-411d-a7e9-35986108ef70",
                          "updatedDateTime": "2019-02-13 05:10:09.088"
                        }
                      ],
                      "first": true,
                      "last": true,
                      "totalPages": 1,
                      "totalElements": 2,
                      "numberOfElements": 2,
                      "size": 2,
                      "page": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "message": "Invalid request parameter",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "referred_category_id",
                          "value": "null",
                          "message": "must not be null"
                        }
                      ]
                    }
                  },
                  "x-internal": false
                },
                "examples": {
                  "Bad Request Example": {
                    "value": {
                      "message": "Rule validation error",
                      "type": "invalid_request_error",
                      "code": "invalid_request",
                      "errors": [
                        {
                          "parameter": "providerIddd",
                          "value": "providerIddd",
                          "message": "Invalid query parameter"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ErrorResponseObject",
                  "type": "object",
                  "description": "Object returned for Error Responses",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
[...]
